@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap");

* {
  font-family: Quicksand !important;
}

/* The container */
.custom {
  position: fixed;
  padding-left: 35px;
  cursor: pointer;
  right: 50px;
  top: 20px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #2c2c2c; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #181818; 
}